<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
	
<body bgcolor="#f9f098">
    <h1><font color="#ffb900">&nbsp;&nbsp;Halo! Selamat membaca Biodata saya dan teman saya!</font> </h1>

	<h4><font color="#5b4107NPM">Perkenalkan nama saya {{ name }} </font></h4>
	<br>
	
	<div>
	<img src = "https://akphoto1.ask.fm/933/691/297/-329996999-1sebp2t-bclobsh8dsi1qsa/original/file.jpg" height="250" width="200" align="left">
	</div>
	
	<div>
		<br>
		<article> <font color="#5b4107NPM">&nbsp;&nbsp;Berikut ini adalah data diri saya : </font></article>
		<br>
		<article> <font color="#5b4107NPM">&nbsp;&nbsp;NPM&nbsp;&nbsp;: {{ npm }} </font></article>
		<br>
		<article><font color="#5b4107NPM">&nbsp;&nbsp;Umur&nbsp;&nbsp;: {{ age }} tahun </font></article>
		<br>
		<article><font color="#5b4107NPM">&nbsp;&nbsp;Hobi &nbsp;&nbsp;: {{ hobi }} </font></article>
		<br>
		<article><font color="#5b4107NPM">&nbsp;&nbsp;Mahasiswa {{ tempat_kuliah }} dengan Program Studi Sistem Informasi angkatan 2017</font></article>
		<br>
		<article><font color="#5b4107NPM">&nbsp;&nbsp;Deskripsi diri &nbsp;&nbsp;: {{ deskripsi_diri }} </font></article>
	</div>
	<br>
	<br>
	<br>
	
	<h4><font color="#5b4107NPM">Perkenalkan teman saya {{ name_teman }} </font></h4>
	<div>
	<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUHcXBuqtxZTjvdOV0b-V8hNnfFS0iqmflM5r2MaL6n2Kz1Fix" height="250" width="200" align="left">
	</div>
	
	<div>
		<br>
		<article> <font color="#5b4107NPM">&nbsp;&nbsp;Berikut ini adalah data diri teman saya : </font></article>
		<br>
		<article> <font color="#5b4107NPM">&nbsp;&nbsp;NPM&nbsp;&nbsp;: {{ npm_teman }} </font></article>
		<br>
		<article><font color="#5b4107NPM">&nbsp;&nbsp;Umur&nbsp;&nbsp;: {{ age_teman }} tahun </font></article>
		<br>
		<article><font color="#5b4107NPM">&nbsp;&nbsp;Hobi &nbsp;&nbsp;: {{ hobi_teman }} </font></article>
		<br>
		<article><font color="#5b4107NPM">&nbsp;&nbsp;Mahasiswa {{ tempat_kuliah }} dengan Program Studi Sistem Informasi angkatan 2017</font></article>
		<br>
		<article><font color="#5b4107NPM">&nbsp;&nbsp;Deskripsi diri &nbsp;&nbsp;: {{ deskripsi_diri_teman }} </font></article>
	</div>
	
	<div>
	</div>

</body>
</html>
